@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
body {
  background: #000;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 300;
  color: #d2d2e5;
}

/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/
.hero-text {
  font-size: 62px;
}

.about-profile-info {
  padding: 10px 0px;
  font-size: 15px;
  text-align: justify;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
  padding-bottom: 14px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}

h2 {
  font-size: 32px;
}

h2,
h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #d2d2e5;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
}

/*---------------------------------------
  General               
-----------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  color: #d2d2e5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #d2d2e5;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about,
#gallery,
#project,
#blog,
#contact,
footer {
  background-color: #000;
}

#about,
#gallery,
#contact,
#blog {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-about,
.main-gallery,
.main-contact {
  height: 65vh;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

/*---------------------------------------
  Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #000;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite;
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #bfba55;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px;
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*---------------------------------------
  Main Navigation             
-----------------------------------------*/
.navbar-default {
  background: #000;
  margin: 0 !important;
  padding: 15px 0;
  border: none;
  transition: background 0.1s ease;
}

.navbar-default .navbar-brand {
  color: #f0f0f0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
  color: #f0f0f0;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-right: 22px;
  padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
  color: #bfba55 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #606066;
  background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav .active > a {
  color: #bfba55;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bfba55;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #ffffff;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    background: 0 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f0f0f0;
}
.top-nav-collapse {
  background-color: #000;
}
/*---------------------------------------
  Home section              
-----------------------------------------*/
#home {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main-home {
	background-image: url("../images/bg/home-bg.webp");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* CSS rules for iOS devices */
  .main-home {
    background-image: url('../images/bg/home-bg.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* Use a different property for background attachment */
    background-attachment: scroll;
  }
}
.main-about {
  background: url("../images/bg/about-bg.webp") no-repeat;
}

.main-gallery {
  background: url("../images/bg/gallery-bg.webp") no-repeat;
}

.main-contact {
  background: url("../images/bg/contact-bg.webp") no-repeat;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#home h4 {
  color: #bfba55;
}

#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

/*---------------------------------------
 About section              
-----------------------------------------*/
#about {
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
}

.about-info h3 {
  font-size: 14px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

#about .col-md-4 {
  padding-bottom: 32px;
}

#about .col-md-4 img {
  padding-top: 12px;
}

/*---------------------------------------
PROJECT              
-----------------------------------------*/
.project-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.project-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-overlay h1 {
  color: #ffffff;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.project-overlay h3 {
  color: #d9d9d9;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.project-item:hover .project-overlay {
  opacity: 1;
}


/*---------------------------------------
 Contact section              
-----------------------------------------*/
.submit-button {
  width: auto;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  color: #d2d2e5;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}

#contact .col-md-4 {
  padding-left: 0px;
}

#contact .col-md-12 {
  padding-left: 0;
}

#contact form {
  padding-top: 32px;
}

#contact .form-control {
  border: 1px solid #f0f0f0;
  background-color: #000;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  color: #d2d2e5;
}

#contact .form-control:hover {
  border-color: #555;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  background: #bfba55;
  border-radius: 100px;
  border: none;
  color: #d9d9d9;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #333;
}

/*---------------------------------------
 Blog section              
-----------------------------------------*/
#about img {
  border-radius: 1px;
}

#about .col-md-4 {
  padding-left: 0px;
}

/*---------------------------------------
 Blog Single Post section              
-----------------------------------------*/
/*---------------------------------------
 Footer section              
-----------------------------------------*/
footer {
  color: #ffffff;
  padding: 80px 0px;
  position: relative;
}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
}

footer hr {
  border-color: #121212;
  margin-top: 62px;
  margin-bottom: 42px;
}

footer .footer-copyright {
  padding-top: 12px;
}

/* Back top */
.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.14),
    1px 1.732px 3px 0px rgba(0, 0, 0, 0.12);
  transition: all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
  background: #bfba55;
  color: #ffffff;
}

/*---------------------------------------
 Social icon             
-----------------------------------------*/
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border: 2px solid #777;
  color: #777;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
  border-color: #bfba55;
  color: #bfba55;
  transform: scale(1.1);
}

/*---------------------------------------
 Mobile Responsive         
-----------------------------------------*/
@media (max-width: 1200px) {
  h1,
  .hero-text {
    font-size: 52px;
  }
}

@media (max-width: 992px) {
  .main-about,
  .main-gallery,
  .main-contact {
    height: 35vh;
  }

  h1,
  .hero-text {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  h1,
  .hero-text {
    font-size: 42px;
  }

  h2 {
    font-size: 26px;
  }

  #about,
  #gallery,
  #contact{
    padding-top: 100px;
    padding-bottom: 80px;
  }

  footer .col-md-4 {
    padding-top: 22px;
  }
}

@media (max-width: 576px) {
  .hero-text {
    font-size: 30px;
  }

  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  #about,
  #gallery,
  #contact{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #home .btn {
    margin-top: 25px;
  }

  footer {
    padding: 50px 0px;
  }
}
